@font-face {
  src: url("/assets/fonts/NunitoSans-light.ttf") format("ttf");
  font-family: NunitoSans;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/assets/fonts/NunitoSans-Regular.ttf") format("ttf");
  font-family: NunitoSans;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/assets/fonts/NunitoSans-Bold.ttf") format("ttf");
  font-family: NunitoSans;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
