@mixin h1 {
  font-family: $ff-base;
  font-weight: 300;
  font-size: rem(26);
  line-height: rem(32);
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    font-size: rem(40);
    line-height: 120%;
  }
}

@mixin h2 {
  font-family: $ff-base;
  font-weight: 300;
  font-size: rem(22);
  line-height: rem(30);
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: rem(36);
    line-height: rem(48);
  }
}

@mixin h3 {
  font-family: $ff-base;
  font-weight: 300;
  font-size: rem(20);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 160%;
}

@mixin text-lead {
  font-family: $ff-base;
  font-size: rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
}

@mixin text-body {
  font-family: $ff-base;
  font-weight: 400;
  font-size: rem(20);
  line-height: 130%;
}
