$color-primary: #0F62FE !default;
$color-white: #fff !default;
$color-black: #222327 !default;
$color-grey: #A1A7B5 !default;
$color-bg: #F0F6FE !default;

// semantic colors
$color-link: #0C5BEF;
$color-link-dark: #00133A;
